<%= link_to t("actions.invite_user"), new_user_path, id: 'invite-user-link', class: 'btn btn-primary btn-block' if can? :create, User %>

<div class="table-responsive table-users">
  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <tr>
        <th class="user-name"><%= t("activerecord.attributes.name") %></th>
        <th class="user-role"><%= t("activerecord.attributes.role") %></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <%= render 'user_raw', user: user %>
      <% end %>
    </tbody>
  </table>
</div>
