<li><%= link_to t(:sign_in, scope: "devise.shared.links"), new_user_session_path, id: 'signin-nav-link', class: "signin-link" %></li>
<li><%= link_to t(:sign_up, scope: "devise.shared.links"), new_user_registration_path, id: 'signup-nav-link', class: "signup-nav" %></li>
