<li><%= link_to t("activerecord.models.user").pluralize, users_path, id: 'users-nav-link', class: "users-nav" %></li>
<li><%= link_to t("devise.registrations.my_account"), edit_user_registration_path, id: 'account-nav-link', class: "account-nav" %></li>
<li><%= link_to t("devise.sessions.sign_out"), destroy_user_session_path, method: :delete, id: 'signout-nav-link', class: "signout-nav" %></li>
